@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&family=Montserrat:wght@400&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.font-style {
    font-family: 'Montserrat', 'sans-serif';
}

#register-title, #registration, #login-title {
    color: #9e9e9e;
}

#registration {
    font-size: 20px;
}

.card-title {
    margin-top: 0;
    padding: 20px;
    color: white;
}

#recipe-panel {
    padding: 0px;

}

#vegan-title, #meat-title {
    color: black;
}

.whitespace {
    white-space: pre-wrap;
}

#signup {
    color: white;
    text-decoration: underline 2px;
}

#signup:hover {
    color: #9e9e9e;
}

.page-footer {
    padding-top: 0px;
}

#social-links i {
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

#social-links i:hover {
    color: #9e9e9e;
}

@media screen and (max-width: 993px) {
    .hidden {
        display: none;
    }

}