@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&family=Montserrat:wght@400&display=swap');

/*-- 404 Page Styling --*/

.error {
    text-align: center;
    max-width: 840px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* -- Various styling -- */

body {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', 'sans-serif';
}

html {
    height: 100%;
}

/* -- Fixes a spacing issue
found in Chrome Dev Tools  -- */
main {
    flex: 1 0 auto;
}

.whitespace {
    white-space: pre-wrap;
}

.brand-logo {
    margin-left: 20px;
}

.font-style {
    font-family: 'Montserrat', 'sans-serif';
}

/* -- Landing page -- */

.landing-page {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(80%);
    color: white;
    padding-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
}

.heading1 {
    font-weight: 600;
    font-size: 3rem;
}

/* -- Various titles across the site -- */

#register-title, #registration, #login-title,
#categories, #recipes-title, #add-title {
    color: #9e9e9e;
}

#registration {
    font-size: 20px;
}

.card-title {
    margin-top: 0;
    padding: 20px;
    color: white;
}

#vegan-title, #meat-title {
    color: black;
}

.btn, .btn-small, .btn-large {
    margin: 10px;
}

/* -- Footer styling -- */

#signup {
    color: white;
    text-decoration: underline 2px;
}

#signup:hover {
    color: #9e9e9e;
}

.page-footer {
    padding-top: 0px;
}

#social-links i {
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

#social-links i:hover {
    color: #9e9e9e;
}

/* -- Media Queries -- */

@media screen and (max-width: 992px) {

    /* -- Hides 'Sign Up' section in Footer -- */
    .hidden {
        display: none;
    }

    .brand-logo {
        margin-left: 0;
        left: 30%;
    }

    .landing-page {
        padding-top: 30vh;
    }
}

@media screen and (max-width: 402px) {
    #my-cookbook {
        font-size: 20px;
    }

    .heading1 {
        font-size: 35px;
    }
}