@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&family=Montserrat:wght@400&display=swap');

.navbar a, #register-title, #submit-btn, .input-text,
#registration, #login-title, .card-title {
    font-family: 'Montserrat', 'sans-serif';
}

#register-title, #registration, #login-title {
    color: #9e9e9e;
}

#registration {
    font-size: 20px;
}

.card-title {
    padding: 20px;
    color: white;
}