<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body id="page404">
    <section id="box404">
        <h1 class="header-404">404</h1>
        <div class="content-404">
            <h2>
                Uh-oh! This page does not exist!
            </h2>
            <p id="go-back">
                <a href="index.html">Click here to go back!</a>
            </p>
        </div>
    </section>
</body>
</html>