{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s10 offset-s1 l6 offset-l3">
            <div class="card-panel" id="add-panel">
                <h3 class="font-style card-title center-align blue-grey lighten-3">
                    Add Diet Category
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_category')}}">
            <!-- Category name -->
            <div class="row">
                <div class="input-field col s8 offset-s2 l6 offset-l3">
                    <i class="fas fa-pencil prefix"></i>
                    <input id="category_name" name="category_name" type="text" class="font-style validate" 
                        minlength="3" maxlength="25" required>
                    <label for="category_name" class="font-style validate">Category Name</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <button type="submit" class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 
                    btn-large blue-grey lighten-1"
                    id="submit-btn">
                    Add Category
                </button>
            </div>
        </form>
    </div>

{% endblock %}