<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>My Cookbook</title>
</head>
<body>

    <header>
        <!-- navbar -->
        <nav class="font-style nav-extended navbar blue-grey lighten-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo">My Cookbook</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right font-style">
                    <i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down" aria-labelledby="home-link my-recipes-link
                    add-recipe-link logout-link login-link register-link">
                    <li>
                        <a href="{{ url_for('get_recipes') }}" id="home-link">Home</a><
                            /li>
                    {% if session.user %}
                        <li>
                            <a href="{{ url_for('get_recipes', username=session['user']) }}"
                            id="my-recipes-link">My Recipes</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_recipe') }}" id="add-recipe-link">Add A Recipe</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}" id="logout-link">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login') }}" id="login-link">Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('register') }}" id="register-link">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <!-- mobile nav -->
        <ul class="sidenav" id="mobile-demo" aria-labelledby="home-link my-recipes-link
            add-recipe-link logout-link login-link register-link">
            <li>
                <a href="{{ url_for('get_recipes') }}" id="home-link">Home</a>
            </li>
            {% if session.user %}
                <li>
                    <a href="{{ url_for('get_recipes', username=session['user']) }}"
                    id="my-recipes-link">My Recipes</a>
                </li>
                <li>
                    <a href="{{ url_for('add_recipe') }}" id="add-recipe-link">Add A Recipe</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}" id="logout-link">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('login') }}" id="login-link">Login</a>
                </li>
                <li>
                    <a href="{{ url_for('register') }}" id="register-link">Register</a>
                </li>
            {% endif %}
        </ul>            
    </header>
    
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <p class="center-align font-style" id="registration">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue-grey lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 m12 s12 hidden center-align">
                    <h5 class="font-style white-text">
                        <a href="register.html" id="signup">Sign Up!</a>
                    </h5>
                    <p class="grey-text text-lighten-4 font-style">Click to sign up to store all your
                        favourite recipes! <br>
                        Don't forget to follow us on social media to share your 
                        fabulous creations >>>
                    </p>
                </div>
                <div class="col l4 offset-l2 m12 s12 center-align" id="social-links">
                    <h5 class="white-text font-style">Follow Us!</h5>
                    <span>
                        <a class="grey-text text-lighten-3" href="https://www.facebook.com"
                            rel="noopener" aria-label="visit our Facebook page (new tab)" target="_blank">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                    </span>
                    <span>
                        <a class="grey-text text-lighten-3" href="https://www.instagram.com"
                            rel="noopener" aria-label="visit our Instagram page (new tab)" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </span>
                    <span>
                        <a class="grey-text text-lighten-3" href="https://www.twitter.com"
                            rel="noopener" aria-label="visit our Twitter page (new tab)" target="_blank">
                            <i class="fa-brands fa-twitter-square"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-copyright center-align">
            <div class="container font-style">
                © 2014 Copyright Text
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>