{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s10 offset-s1 l6 offset-l3">
            <div class="card-panel" id="add-panel">
                <h3 class="font-style card-title center-align blue-grey lighten-3">
                    Edit Recipe
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe name -->
            <div class="row">
                <div class="input-field col s8 offset-s2 l6 offset-l3">
                    <i class="fas fa-pencil prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="font-style validate" 
                        minlength="5" maxlength="70" placeholder="e.g. spaghetti bolognese"
                        value="{{ recipe.recipe_name }}" required>
                    <label for="recipe_name" class="font-style validate">Recipe Name</label>
                    <div class="switch">
                        <label for="vegetarian_switch">
                            Vegetarian
                            {% if recipe.vegetarian == 'on' %}
                                <input type="checkbox" id="vegetarian-switch" name="vegetarian-switch" checked>
                            {% else %}
                                <input type="checkbox" id="vegetarian-switch" name="vegetarian-switch">
                            {% endif %}
                            <span class="lever"></span>
                            On
                        </label>
                      </div>
                </div>
            </div>
            <!-- Recipe information -->
            <div class="row">
                <div class="input-field col s10 offset-s1 m4 offset-m2 l2 offset-l2">
                    <i class="fas fa-leaf prefix"></i>
                    <select id="diet_name" name="diet_name" class="validate" required>
                        <option value="" disabled>Choose Diet</option>
                        {% for diet in diets %}
                            {% if diet.diet_name == recipe.diet_name %}
                                <option value="{{ diet.diet_name }}" selected>{{ diet.diet_name }}</option>
                            {% else %}
                                <option value="{{ diet.diet_name }}">{{ diet.diet_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="diet_name" class="font-style validate">Diet</label>
                </div>
                <div class="input-field col s10 offset-s1 m4 l2">
                    <i class="fas fa-clock prefix"></i>
                    <input id="cooking_time" name="cooking_time" type="tel" class="font-style validate"
                        minlength="2" maxlength="25" placeholder="e.g. 1 hr, 15 mins"
                        value="{{ recipe.cooking_time }}" required>
                    <label for="cooking_time" class="font-style validate">Cooking Time</label>
                </div>
                <div class="input-field col s10 offset-s1 m4 offset-m2 l2">
                    <i class="fas fa-utensils prefix"></i>
                    <input id="skill_level" name="skill_level" type="text" class="validate"
                        minlength="3" maxlength="15" placeholder="e.g. easy, moderate, hard"
                        value="{{ recipe.skill_level }}" required>
                    <label for="skill_level" class="font-style validate">Skill Level</label>
                </div>
                <div class="input-field col s10 offset-s1 m4 l2">
                    <i class="fas fa-users prefix"></i>
                    <input id="serves" name="serves" type="text" class="font-style validate"
                        minlength="1" maxlength="5" placeholder="e.g. 3-4"
                        value="{{ recipe.serves }}" required>
                    <label for="serves" class="font-style validate">Serves</label>
                </div>
            </div>
            <!-- Ingredients & Methods inputs -->
            <div class="row">
                <div class="input-field col s10 offset-s1 m5 offset-m1 l4 offset-l2">
                    <i class="fas fa-lemon prefix"></i>
                    <textarea id="ingredients" name="ingredients" type="text"
                        minlength="10" maxlength="1000" class="materialize-textarea validate font-style"
                        required>
                        {{- recipe.ingredients -}}
                    </textarea>
                    <label for="ingredients" class="font-style validate">Ingredients</label>
                </div>
                <div class="input-field col s10 offset-s1 m5 l4">
                    <i class="fas fa-book prefix"></i>
                    <textarea id="method" name="method" type="tel"
                        class="materialize-textarea validate font-style" minlength="10"
                        maxlength="1000" required>
                        {{- recipe.method -}}
                    </textarea>
                    <label for="method" class="font-style validate">Method</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 center-align">
                    <a href="{{ url_for ('get_recipes') }}" class="btn-large red lighten-3">
                        Cancel
                    </a>
                    <button type="submit" class="btn-large blue-grey lighten-1" id="submit-btn">
                        Edit Recipe
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}