{% extends "base.html" %}
{% block content %}

    <div class="container landing-page">
        <div class="row">
            <div class="col-8">
                <h2 class="heading1 center-align">Manage your favourite recipes online</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h5 class="heading2 center-align">Build your private cookbook by storing recipes on the web.</h5>
            </div>
        </div>
    </div>

{% endblock %}