{% extends "base.html" %}
{% block content %}

    <h3 class="font-style card-title center-align" id="recipes-title">My Recipes</h3>

    <!-- search form allowing users to filter through data in db -->
    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 offset-m2">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate"
                        placeholder="e.g. 'Three Bean Chilli', 'Pescetarian'" required>
                    <label for="query" id="search-label">Search Recipes</label>
                </div>
                <div class="col s12 m8">
                    <a href="{{ url_for('get_recipes') }}" class="btn red lighten-3">Reset</a>
                    <button type="submit" class="btn blue-grey lighten-1">Search</button>
                </div>
            </div>
        </form>
    </div>

    <!-- if filter has more than 1 result, display result -->
    {% if recipes|length > 0 %}

    <div class="row">
        <!-- vegetarian recipes fetched from db-->
        <div class="col s12 m5 offset-m1">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/veg.jpg">
                    <span class="card-title">Vegetarian Recipes</span>
                </div>
                <!-- loops through db and fetches all recipes that are vegetarian -->
                <div class="card-action">
                    {% for recipe in recipes if recipe.diet_name == 'Vegetarian' %}
                        <ul class="collapsible">
                            <li>
                                <h6 class="font-style collapsible-header blue-grey lighten-5">{{ recipe.recipe_name }}</h6>
                                <div class="collapsible-body">
                                    <i class="fas fa-leaf"></i>
                                    <strong class="font-style">
                                        {{ recipe.diet_name }}</strong>
                                    <p class="font-style">
                                        <i class="fas fa-clock"></i>
                                        {{ recipe.cooking_time }}<br><br>
                                        <i class="fas fa-utensils"></i>
                                        {{ recipe.skill_level }}<br><br>
                                        <i class="fas fa-users"></i>
                                        {{ recipe.serves }}<br><br>
                                        <p>Veggie Safe: {{ recipe.vegetarian }}</p>
                                    </p>
                                    <i class="fas fa-lemon"></i>
                                    <strong class="font-style">Ingredients</strong>
                                    <p class="whitespace font-style">{{ recipe.ingredients }}</p>
                                    <i class="fas fa-book"></i>
                                    <strong class="font-style">Method</strong>
                                    <p class="whitespace font-style">{{ recipe.method }}</p>
                                    <p><em>Recipe created by: {{ recipe.created_by }}</em></p>
                                    {% if session.user == recipe.created_by %}
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                            class="btn-small blue-grey lighten-1">Edit</a>
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                            class="btn-small blue-grey lighten-1">Delete</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- vegan recipes fetched from db-->
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/vegan.jpg">
                    <span class="card-title" id="vegan-title">Vegan Recipes</span>
                </div>
                <div class="card-action">
                    <!-- loops through db and fetches all recipes that are vegan -->
                    {% for recipe in recipes if recipe.diet_name == 'Vegan' %}
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5 font-style">{{ recipe.recipe_name }}</h6>
                            <div class="collapsible-body">
                                <i class="fas fa-carrot"></i>
                                <strong class="font-style">{{ recipe.diet_name }}</strong>
                                <p class="font-style">
                                    <i class="fas fa-clock"></i>
                                    {{ recipe.cooking_time }}<br><br>
                                    <i class="fas fa-utensils"></i>
                                    {{ recipe.skill_level }}<br><br>
                                    <i class="fas fa-users"></i>
                                    {{ recipe.serves }}<br><br>
                                    <p>Veggie Safe: {{ recipe.vegetarian }}</p>
                                </p>
                                <i class="fas fa-lemon"></i>
                                <strong class="font-style">Ingredients</strong>
                                <p class="whitespace font-style">{{ recipe.ingredients }}</p>
                                <i class="fas fa-book"></i>
                                <strong class="font-style">Method</strong>
                                <p class="whitespace font-style">{{ recipe.method }}</p>
                                <p><em>Recipe created by: {{ recipe.created_by }}</em></p>
                                {% if session.user == recipe.created_by %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Edit</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Delete</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- meat recipes fetched from db-->
        <div class="col s12 m5 offset-m1">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/meat.jpg">
                    <span class="card-title" id="meat-title">Meat Recipes</span>
                </div>
                <div class="card-action">
                    <!-- loops through db and fetches all recipes that are meat -->
                    {% for recipe in recipes if recipe.diet_name == 'Meat' %}
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5 font-style">{{ recipe.recipe_name }}</h6>
                            <div class="collapsible-body">
                                <i class="fas fa-bacon"></i>
                                <strong class="font-style">{{ recipe.diet_name }}</strong>
                                <p class="font-style">
                                    <i class="fas fa-clock"></i>
                                    {{ recipe.cooking_time }}<br><br>
                                    <i class="fas fa-utensils"></i>
                                    {{ recipe.skill_level }}<br><br>
                                    <i class="fas fa-users"></i>
                                    {{ recipe.serves }}<br><br>
                                    <p>Veggie Safe: {{ recipe.vegetarian }}</p>
                                </p>
                                <i class="fas fa-lemon"></i>
                                <strong class="font-style">Ingredients</strong>
                                <p class="whitespace font-style">{{ recipe.ingredients }}</p>
                                <i class="fas fa-book"></i>
                                <strong class="font-style">Method</strong>
                                <p class="whitespace font-style">{{ recipe.method }}</p>
                                <p><em>Recipe created by: {{ recipe.created_by }}</em></p>
                                {% if session.user == recipe.created_by %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Edit</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Delete</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- pescetarian recipes fetched from db-->
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/fish.jpg">
                    <span class="card-title">Fish Recipes</span>
                </div>
                <div class="card-action">
                    <!-- loops through db and fetches all recipes that are pescetarian -->
                    {% for recipe in recipes if recipe.diet_name == 'Pescetarian' %}
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5 font-style">{{ recipe.recipe_name }}</h6>
                            <div class="collapsible-body recipe-info">
                                <i class="fas fa-fish"></i>
                                <strong class="font-style">{{ recipe.diet_name }}</strong>
                                <p class="font-style">
                                    <i class="fas fa-clock"></i>
                                    {{ recipe.cooking_time }}<br><br>
                                    <i class="fas fa-utensils"></i>
                                    {{ recipe.skill_level }}<br><br>
                                    <i class="fas fa-users"></i>
                                    {{ recipe.serves }}<br><br>
                                    <p>Veggie Safe: {{ recipe.vegetarian }}</p>
                                </p>
                                <i class="fas fa-lemon"></i>
                                <strong class="font-style">Ingredients</strong>
                                <p class="whitespace font-style">{{ recipe.ingredients }}</p>
                                <i class="fas fa-book"></i>
                                <strong class="font-style">Method</strong>
                                <p class="whitespace font-style">{{ recipe.method }}</p>
                                <p><em>Recipe created by: {{ recipe.created_by }}</em></p>
                                {% if session.user == recipe.created_by %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Edit</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small blue-grey lighten-1">Delete</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h3 class="font-style center-align" id="no-results">No Results Found!</h3>
    {% endif %}

{% endblock %}