{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s10 offset-s1 l6 offset-l3">
            <div class="card-panel">
                <h3 class="card-title center-align blue-grey lighten-3">
                    My Recipes
                </h3>
            </div>
        </div>
    </div>

    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        {{ recipe.diet }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.skill_level }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.vegetarian }}<br>
    {% endfor %}

    <div class="row">
        <div class="col s10 offset-s1 m5 offset-m1">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/veg.jpg">
                    <span class="card-title">Vegetarian Recipes</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">First</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Second</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Third</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s10 offset-s1 m5">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/vegan.jpg">
                    <span class="card-title" id="vegan-title">Vegan Recipes</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">First</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Second</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Third</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m5 offset-m1">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/meat.jpg">
                    <span class="card-title" id="meat-title">Meat Recipes</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">First</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Second</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Third</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s10 offset-s1 m5">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/fish.jpg">
                    <span class="card-title">Fish Recipes</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <ul class="collapsible">
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">First</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Second</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <h6 class="collapsible-header blue-grey lighten-5">Third</h6>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}