{% extends "base.html" %}
{% block content %}

    <h3 class="center-align font-style" id="register-title">Register</h3>

    <div class="row">
        <form class="col s10 offset-s1 l6 offset-l3" method="POST" action="{{ url_for('register') }}">
            <!-- username -->
            <div class="row">
                <div class="input-field col s10 offset-s1 l8 offset-l2">
                    <input id="username" name="username" type="text" minlength="8"
                        maxlength="15" pattern="^[a-zA-Z0-9]{8,15}$" class="validate input-text" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- email address -->
            <div class="row">
                <div class="input-field col s10 offset-s1 l8 offset-l2">
                    <input id="email" name="email" type="email" class="validate input-text" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s10 offset-s1 l8 offset-l2">
                    <input id="password" name="password" type="password" minlength="8"
                        maxlength="15" pattern="^[a-zA-Z0-9]{8,15}$" class="validate input-text"
                        onkeyup='check();' required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- password confirmation -->
            <div class="row">
                <div class="input-field col s10 offset-s1 l8 offset-l2">
                    <input id="confirm_password" name="confirm_password" type="password"
                        class="validate input-text font-style" onkeyup='check();' required>
                    <label for="confirm_password">Password Confirmation</label>
                    <span id='message'></span>
                </div>
            </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s10 offset-s1 m8 offset-m2 btn-large blue-grey lighten-1 font-style"
                    id="submit-btn">
                    Sign Up
                </button>
            </div>
            <div class="row">
                <button onclick="window.location.href='login.html'" type="submit"
                    class="col s10 offset-s1 m8 offset-m2 btn-large blue-grey lighten-1" id="new-user-btn">
                    Already Registered? Click to log in.
                </button>
            </div>
        </form>
    </div>

{% endblock %}